*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.container{
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.slides{
  width:  100%;
  height: 100vh;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  text-align: center;
  /*gap: 50px; */
  color: #fff;
  scroll-snap-align: start; 


  
}

h2 {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  margin: 0;
  padding: 0;
  margin-bottom: 0px;
  letter-spacing: 0.05em;
  line-height: .9em;

  
}

.name {
  font-weight: 900;
  font-size: 5em;
  text-transform: uppercase;
}

p {
  /* color: lighten($base-color, 25%);
  font-weight: 500;
  font-size: 2.25em;
  margin-bottom: 15px; */
  
  padding: 0;
}

.slides h2 {
  font-size: 70px;
  font-weight: 600;
  max-width: 650px;
  margin: 30px;
}

.slide1{
  color: #fff;
  background: lightblue;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.slide2{
  
  color: black;
  background: white;
}
.slide3{
 
  color: black;
  background: #f2f2f5;
}
.slide4{

  color: black;
  background: white;
}
.slide5{
 
  color: black;
  background: #f2f2f5;
}
.slide6{
  
  color: black;
  background: lightblue;
}

.navbar {
    position: absolute;
    top: 0;
    align-items: center;
    
}

.navbar ul{
  list-style-type: none;
  background-color: white;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.navbar a {
  color: #313131;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;

}

.navbar a:hover{
  background-color: rgb(205, 200, 200);
}

.navbar li{
  float: left;
}

.abtheader {
  margin: 30px;
}