*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  

}
.hero{
    width: 100%;
    min-height: 100vh;
    background-image: url(/images/prelab3B-3.jpg);
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;

}
.animation {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}
@keyframes moveup {
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}